body {
  font-family: 'Roboto';
  color: rgb(74, 74, 74);
  line-height: 1.8;
  margin: 0;
}

p {
  font-size: 1.1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

h1, h2 {
  font-family: 'Sniglet';
}

a {
  text-decoration: none;
}